<ion-header [translucent]="true">
  <ion-title class="header-title">
    Bienvenido a SelfTEAch
  </ion-title> 
</ion-header>

<ion-content (click)="navigateToForm()">
<div class="welcome-container">
  <img src="assets/imgs/cony.png" alt="Cony" class="main-image" />
  <p class="footer-text">Toca la pantalla para continuar...</p>
  <p class="support-text">Un Entorno de Apoyo y Aprendizaje del Espectro Autista.</p>
  <img src="assets/imgs/Imagen1.png" alt="Imagen 1" class="left-image" />
  <img src="assets/imgs/Imagen2.png" alt="Imagen 2" class="right-image" />
</div>
</ion-content>
