<ion-content class="ion-padding">
  <!-- Imagen y texto de personalización -->
  <div class="perfil-title">
    <h3>Personaliza tu perfil...</h3>
    <img src="assets/imgs/formu-nino.png" alt="Icono perfil" class="nino-form" />
  </div>

  <!-- Título de nivel de desarrollo -->
  <div class="header-title ">
    <h2>Nivel de desarrollo</h2>
  </div>

  <!-- Botones de nivel y signos de interrogación -->
  <div class="niveles-grid">
    <ion-button (click)="goToDifficulties(1)">
      1
    </ion-button>
    <ion-button (click)="goToInfoNivel(1)" fill="clear">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="goToDifficulties(2)">
      2
    </ion-button>
    <ion-button (click)="goToInfoNivel(2)" fill="clear">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="goToDifficulties(3)">
      3
    </ion-button>
    <ion-button (click)="goToInfoNivel(3)" fill="clear">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Botón para regresar -->
  <ion-button expand="block" fill="outline" (click)="goBack()">
    Anterior...
  </ion-button> <!--poner clase-->

  <img src="assets/imgs/Imagen1.png" alt="Imagen 1" class="left-image" />  
  <img src="assets/imgs/Imagen2.png" alt="Imagen 2" class="right-image" />
  <img src="assets/imgs/estrella1.png" alt="Estrella 1" class="estre-izq">
  <img src="assets/imgs/estrella2.png" alt="Estrella 2" class="estre-der">
</ion-content>
