ion-content {
    --background: #9CB5F1; /* Color de fondo celeste */
    position: relative; /* Add this to create a containing block for absolute elements */
  }
  
  .header-title {
    position: absolute;
    top: 295px; /* Ajustar la posición vertical con la imagen */
    left: 50%;
    transform: translateX(-50%);
    color: black; /* Color de texto negro */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5rem;
    z-index: 2; /* Increase z-index to put it on top of images */
    display: flex;
    display: flex;
    width: 356px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  
.perfil-title {
   font-family: 'Gloria Hallelujah'; 
   padding: 10px; 
   z-index: 2; 
   color: black;
   height: auto;
   margin-bottom: 20px;
   left: 50%;
  }
  
.nino-form {
    max-width: 80%;
    margin: 20px auto; /* Centrar horizontalmente y añadir margen superior */
    padding: 6%; /* Añadir padding para separar del borde */
    z-index: 2; /* Mantener z-index para mantenerse encima de las imágenes */
    display: flex; /* Añadir flexbox para centrar imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

.estre-izq {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; /* Make sure it's on top of left-image */
    width: 60px;
  }
  
  .estre-der {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; /* Make sure it's on top of right-image */
    width: 68px;
  }
  
  .left-image, 
  .right-image {

}


.niveles-grid { //botones de los niveles 

}

