ion-content {
  --background: #9CB5F1; /* Color de fondo celeste */
  position: relative; /* Add this to create a containing block for absolute elements */
}

.header-title {
  position: absolute;
  top: 295px; /* Ajustar la posición vertical con la imagen */
  left: 50%;
  transform: translateX(-50%);
  color: black; /* Color de texto negro */
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  z-index: 2; /* Increase z-index to put it on top of images */
}

.perfil-title {
  font-family: 'Gloria Hallelujah'; 
  background-color: #D9D9D9; 
  padding: 5px; 
  z-index: 2; 
  color: black;
  height: auto;
  margin-bottom: 20px;
}

.nino-form {
  max-width: 80%;
  margin: 20px auto; /* Centrar horizontalmente y añadir margen superior */
  padding: 6%; /* Añadir padding para separar del borde */
  z-index: 2; /* Mantener z-index para mantenerse encima de las imágenes */
  display: flex; /* Añadir flexbox para centrar imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.nino-form img {
  max-width: 100%; /* Asegurarse de que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantener la proporción */
  margin: 0 auto; /* Center image horizontally */
}

.left-image,
.right-image {
  position: absolute;
  width: 380px; /* Ajustar el tamaño según sea necesario */
  height: auto;
  z-index: -1; /* Enviar al fondo */
}

.left-image {
  bottom: 0;
  left: 0;
}

.right-image {
  top: 0;
  right: 0;
}

.welcome-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px; /* add some margin around the buttons */
}

.boton-tea {
  width: 80%; /* adjust the width to fit both buttons */
  height: auto;
  margin: 10px; /* add some margin between buttons */
  right: 50%;
  margin-right: 90px;
}

.boton-cuidador {
  width: 40%;
  height: auto;
  margin: 10px;
  margin-left: 10px; /* agregar margin-left */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 20px; /* Agregar margen para separar de los textos */
}

.estre-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; /* Make sure it's on top of left-image */
  width: 60px;
}

.estre-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /* Make sure it's on top of right-image */
  width: 60px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 20px; /* Espacio entre el texto y los botones */
}

.boton-tea-wrapper {
  margin-left: 200px; /* Ajustar este valor para mover el botón de Persona con TEA más a la derecha */
}

.button-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinear el contenido del botón al centro */
  width: 100px; /* Ajustar este valor según el ancho deseado */
  height: 100px; /* Ajustar el tamaño del botón */
  margin-bottom: 0.9px; /* Espacio entre el texto y el boton */
  padding: 0; /* Ajustar el padding según sea necesario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Asegúrate de que las esquinas sean redondeadas */
  overflow: hidden; /* Para evitar que los bordes blancos sean visibles */
  background-color: white; /* Asegúrate de que el fondo sea blanco */
  border: none; 
}

.button-wrapper button img {
  display: block;
  width: 100%;
  height: 110px;
  justify-content: center;
}

.cuidador-image,
.persona-image {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Asegúrate de que las esquinas sean redondeadas */
}

.support-text {
  text-align: left;
  margin-left: -50px; /* Ajustar este valor para mover el texto más a la izquierda */
}