<ion-header [translucent]="true"> 
    <ion-title class="header-title">
      Soy un/a...
    </ion-title>
</ion-header>

<ion-content>
  <form [formGroup]="formulario">
    <ion-input formControlName="tipoUser"></ion-input>

    <div class="welcome-form">
      <ion-title class="perfil-title">
        Personaliza tu perfil
      </ion-title>
    </div>

    <img src="assets/imgs/formu-nino.png" alt="Forn" class="nino-form">
    <!-- boton del cuidador--> 
    <div class="button-container">
      <!-- boton del cuidador--> 
      <div class="button-wrapper">
        <button class="boton-cuidador" (click)="seleccionarCuidador()">
          <img src="assets/imgs/cuidador.png" alt="Cuidador/a" class="cuidador-image">
        </button>
        <p class="support-tea">Cuidador/a</p>
      </div>
      <!--boton tea-->
      <div class="button-wrapper">
        <button class="boton-tea" (click)="seleccionarTEA()">
          <img src="assets/imgs/perso-tea.png" alt="Persona con TEA" class="tea-image">
        </button>
        <p class="support-text">Persona con TEA</p>
      </div>
    </div>
    
    <img src="assets/imgs/Imagen1.png" alt="Imagen 1" class="left-image" />
    <img src="assets/imgs/Imagen2.png" alt="Imagen 2" class="right-image" />
    <img src="assets/imgs/estrella1.png" alt="Estrella 1" class="estre-left">
    <img src="assets/imgs/estrella2.png" alt="Estrella 2" class="estre-right">
  </form>
</ion-content>