<ion-header>
  <ion-toolbar>
    <ion-title>¿Eres Cuidador/a o Persona con TEA?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Selecciona una opción</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Cuidador/a</ion-label>
        <ion-radio slot="start" value="cuidador"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Persona con TEA</ion-label>
        <ion-radio slot="start" value="tea"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
  <ion-button expand="block" (click)="nextPage()">Siguiente</ion-button>
</ion-content>
